/* src/components/Button/Button.scss */

.button {
  padding: 0.75rem 1.5rem;
  background-color: rgb(45, 62, 78);
  color: white;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;

  &.two-line {
    height: auto;
    min-height: 5rem;
    padding: 1rem 2rem;
  }

  &:hover {
    background-color: rgb(58, 192, 106);
  }

  &:disabled {
    background-color: rgb(217, 217, 217);
    cursor: not-allowed;
    color: #999;
  }

  &.icon {
    display: flex;
    align-items: center;
    width: 100%; 

    .icon {
      font-size: 1.25rem;
    }

    .button-text {
      margin-left: 0.625rem;
      text-align: left;
      word-wrap: break-word;
      flex-grow: 1;
      line-height: 1.2;
    }
  }

  &.default {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
