/* src/components/FirmFactCard/FirmFactCard.scss */

.firmFactCard {
    background-color: #f1f1f1;
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    height: 100%;
    position: relative;
  
    &.default {
      border: 0.125rem solid #dcdcdc;
      &:hover {
        background-color: #58c86b;
      }
    }
  
    &.border {
      border: 0.125rem solid #dcdcdc;
      &:hover {
        border-color: #58c86b;
        border-width: 0.50rem;
      }
    }
  
    .card-content {
      display: flex;
      flex-direction: column; /* Stack button and text vertically */
      align-items: center; /* Center items */
      justify-content: center;
    }
  
    .button {
      margin-bottom: 0.625rem; /* Space between button and text */
    }
  
    .card-text {
      font-size: 1rem; /* Adjust font size */
      color: #333;
      text-align: center; /* Ensure text is centered */
      line-height: 1.5;
      max-width: 90%; /* Optional: Limit text width for better layout */
    }
  }
  